_Compiler/TTT3
.vscode
_Compiler/TTT3*.zip

__pycache__/

data/helmet/nametag.png

data/helmet/helmtex.bmp

data/squads/Firebird_mask.png

data/squads/Hyperion Flight.png

data/squads/Sin_mask.png

data/squads/Typhoon_mask.png

data/dress.png

data/dress.pov

data/dress.pov.bak

data/duty.png

data/duty.pov

data/helmet.png

data/helmet.pov

*.pro

*.helm

*.ttt
