_Compiler/TTT3
.vscode
_Compiler/TTT3*.zip

__pycache__/

data/helmet/nametag.png

data/helmet/helmtex.bmp

data/squads/*_mask.png

data/dress.png

data/dress.pov

data/dress.pov.bak

data/duty.png

data/duty.pov

data/duty.pov.bak

data/helmet.png

data/helmet.pov

data/helmet.pov.bak

*.pro

*.helm

*.ttt

TTT3 Crash.log
